@{
    ViewBag.Title = "Báo cáo điểm danh theo ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/js/baocao_js/baocaodiemdanhtungngaytheolop.js"></script>
<style>
    .image-preview {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .k-dropdown-wrap.k-state-default, .k-multiselect-wrap {
        border-color: #929090;
    }
</style>
<script src="~/Assets/stringeeConfig.js"></script>
<div id="dialogRoot"></div>
<div class="row">
    <h2><b>Báo cáo điểm danh theo ngày</b></h2>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-sm-2">
        <label style="width:100%">Từ ngày</label>
        <input style="width:100%" id="TuNgay" />
    </div>
    <div class="col-sm-2">
        <label style="width:100%">Đến ngày</label>
        <input style="width:100%" id="DenNgay" />
    </div>
    <div class="col-sm-3">
        <label style="width:100%"> </label>
        <button class="k-button bg-blue" onclick="TimKiem()"> <i class="fa fa-search"> Xem báo cáo </i></button>
        <button class="k-button bg-green" onclick="XuatExcel()"> <i class="fa fa-file-excel-o"> Xuất excel </i></button>
    </div>
</div>
<div class="row">
    <div id="gridData"></div>
    <script type="text/x-kendo-template" id="template">
        <div>
            <div class="DetailTheoLop"></div>
        </div>
    </script>

</div>
