@{
    ViewBag.Title = "Danh mục loại sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dinhmucnhomchi.css" rel="stylesheet" />
<script src="~/Scripts/js/danhmucloaisanpham.js"></script>

<div id="dialogRoot"></div>
<div class="row">
    <h2><b>Danh sách loại sản phẩm</b></h2>
</div>
<div class="row toolBarMenu">
    <button class="k-button bg-blue" onclick="ThemMoi()"> <i class="fa fa-plus-square"> Thêm </i></button>
    <button class="k-button bg-orange" onclick="openEditWindow()"> <i class="fa fa-wrench"> Sửa</i> </button>
    <button class="k-button bg-red" onclick="Xoa()"> <i class="fa fa-close"> Xóa</i> </button>
    <button class="k-button bg-green" onclick="XuatExcel()"> <i class="fa fa-file-excel-o"> Xuất excel</i> </button>
</div>
<div class="row">
    <div id="grid"></div>
</div>
<div style="visibility:hidden" id="window">
    <div class="toolBarMenu">
        <button class="k-button bg-blue" onclick="Luu()"> <i class="fa fa-plus-square"> Lưu </i></button>
        <button class="k-button bg-red" onclick="Huy()"> <i class="fa fa-close"> Hủy</i> </button>
    </div>
    <form id="formChiTiet">
        <div class="form-group">
            <input id="ID" type="hidden" />
        </div>
        <div class="form-group valid" toggle-valid="MaLoaiSanPham">
            <label style="width:100%">Mã loại sản phẩm: <span style="color:red">*</span></label>
            <input id="MaLoaiSanPham" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon"></span>
        </div>
        <div class="form-group valid" toggle-valid="Ten">
            <label style="width:100%">Loại sản phẩm: <span style="color:red">*</span></label>
            <input id="Ten" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon"></span>
        </div>

        <div class="form-group">
            <label style="width:100%">Mô tả:</label>
            <textarea id="MoTa" type="text" style="width:100%" class="k-textbox"></textarea>
        </div>
    </form>
</div>

