@{
    ViewBag.Title = "Quản lý bài giảng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .image-preview {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .k-dropdown-wrap.k-state-default, .k-multiselect-wrap {
        border-color: #929090;
    }
</style>
<script src="~/Scripts/js/flashcard.js"></script>
<div id="dialogRoot"></div>
<div class="row">
    <h2><b>Danh sách Flashcard</b></h2>
</div>
<div class="row toolBarMenu">
    <button class="k-button bg-blue" onclick="ThemMoi()"> <i class="fa fa-plus-square"> Thêm </i></button>
    <button class="k-button bg-orange" onclick="openEditWindow()"> <i class="fa fa-wrench"> Sửa</i> </button>
    <button class="k-button bg-red" onclick="Xoa()"> <i class="fa fa-close"> Xóa</i> </button>
    <button class="k-button bg-green" onclick="XuatExcel()"> <i class="fa fa-file-excel-o"> Xuất excel</i> </button>
</div>
<div class="row">
    <div id="grid"></div>
</div>

<div style="visibility:hidden" id="window">
    <div class="toolBarMenu">
        <button class="k-button bg-blue" onclick="Luu()"> <i class="fa fa-plus-square"> Lưu </i></button>
        <button class="k-button bg-red" onclick="Huy()"> <i class="fa fa-close"> Hủy</i> </button>
    </div>
    <form id="formChiTiet">
        <div class="form-group">
            <input id="ID" type="hidden" />
        </div>
        <div class="form-group valid" toggle-valid="TenBai">
            <label style="width:100%">Chủ đề: <span style="color:red">*</span></label>
            <input id="ChuDe" placeholder="Chủ đề" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="The">
            <label style="width:100%">Thẻ: <span style="color:red">*</span></label>
            <input id="The" placeholder="Thẻ" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="Ten">
            <label style="width:100%">Tên: <span style="color:red">*</span></label>
            <input id="Ten" placeholder="Tên" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="AnhThe">
            <label style="width:100%">AnhThe: <span style="color:red">*</span></label>
            <input id="AnhThe" placeholder="Ảnh thẻ" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="AmThanh">
            <label style="width:100%">AmThanh: <span style="color:red">*</span></label>
            <input id="AmThanh" placeholder="Âm thanh" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
    </form>
</div>
<div id="windowChitiet">
    <input type="hidden" id="ID_BaiGiang" />

</div>
