@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/styles/login.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <img src="~/Images/login-bg.PNG" style=" opacity: 0.9;" />
        <div class="input-login-div">
            <img src="~/Images/fslogo.png" style="width:100%" />
            <form method="post" action="/FSUser/UserLogin">
                <div class="form-group">
                    <label>Tài khoản</label>
                    <input type="text" name="UserName" required oninvalid="this.setCustomValidity('Vui lòng nhập tài khoản!')" oninput="setCustomValidity('')" class="form-control" placeholder="Tài khoản">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" name="Password" oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu!')" oninput="setCustomValidity('')" required class="form-control" placeholder="Mật khẩu">
                </div>
                <button type="submit" class="btn btn-black">Đăng nhập</button>
                <b class="btn-danger">@ViewBag.Error</b>
            </form>
        </div>
    </div>

</body>
</html>
