.lstBKT {
    width: 100%;
    overflow-x: scroll;
}

@media screen and (max-width: 450px) {
    .itemBKT {
        width: 35%;
        height: 100px;
        float: left;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .itemBKT {
        width: 10%;
        height: 100px;
        float: left;
        text-align: center;
    }
}

.addnewfoler {
    width: 100%;
    height: 80px;
    background-image: url(../../Images/new-folder-add.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.BKTname {
    width: 100%;
    font-size: 10px;
    color: #000;
}

.itemBKT:hover .BKTname {
    width: 100%;
    font-size: 11px;
    color: #365169;
}

.itemBKT:active .BKTname {
    width: 100%;
    font-size: 11px;
    color: #365169;
}

.folericon {
    width: 100%;
    height: 80px;
    background-image: url(../../Images/computer-folder-icon.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .folericon:hover .BKTbtnedit {
        display: block;
        opacity: 0.5;
        float: left;
    }

    .folericon:active .BKTbtnedit {
        display: block;
        opacity: 0.5;
        float: left;
    }

    .folericon:hover .BKTbtnview {
        display: block;
        opacity: 0.5;
        float: left;
    }

    .folericon:active .BKTbtnview {
        display: block;
        opacity: 0.5;
        float: left;
    }





.BKTremovebtn {
    float: right;
    font-size: 20px;
}

.BKTbtnedit {
    display: none;
}

.BKTbtndview {
    display: none;
}

#scrollView .photo {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.k-dialog-buttongroup .k-button {
    width: 50%;
}

.k-icon.k-i-arrowhead-w {
    color: #365169;
}

.k-icon.k-i-arrowhead-e {
    color: #365169;
}
