@{
    ViewBag.Title = "Quản lý quỹ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Assets/stringeeConfig.js"></script>
<div id="dialogRoot"></div>
<div class="row">
    <h2><b>Danh sách Quỹ</b></h2>
</div>
<div class="row toolBarMenu">
    <button class="k-button bg-blue" onclick="ThemMoi()"><i class="fa fa-plus-square"></i>Thêm</button>
    <button class="k-button bg-orange" onclick="openEditWindow()"><i class="fa fa-wrench"></i>Sửa</button>
    <button class="k-button bg-red" onclick="Xoa()"><i class="fa fa-close"></i>Xóa</button>
    <button class="k-button bg-green" onclick="XuatExcel()"><i class="fa fa-file-excel-o"></i>Xuất Excel</button>
</div>
<div class="row">
    <div id="grid"></div>
</div>
<div style="visibility:hidden" id="window">
    <div class="toolBarMenu">
        <button class="k-button bg-blue" onclick="Luu()"> <i class="fa fa-plus-square"> Lưu </i></button>
        <button class="k-button bg-red" onclick="Huy()"> <i class="fa fa-close"> Hủy</i> </button>
    </div>
    <form id="formChiTiet">
        <div class="form-group">
            <input id="ID" type="hidden" />
        </div>
        <div class="form-group valid" toggle-valid="TenQuy">
            <label style="width:100%">Tên quỹ: <span style="color:red">*</span></label>
            <input id="TenQuy" placeholder="Tên quỹ" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="TrangThai">
            <label style="width:100%">Trạng Thái:</label>
            <select id="TrangThai" class="k-textbox input" style="height:27px">
                <option value="1">Hoạt động</option>
                <option value="0">Không hoạt động</option>
            </select>
        </div>
        <div class="form-group valid" toggle-valid="NgayTao">
            <label style="width:100%">Ngày Tạo: <span style="color:red">*</span></label>
            <input id="NgayTao" type="date" class="k-textbox input" disabled/>
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="BankCode">
            <label style="width:100%">Bank code: <span style="color:red">*</span></label>
            <input id="BankCode" placeholder="Bank code" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="TenNganHang">
            <label style="width:100%">Tên ngân hàng: <span style="color:red">*</span></label>
            <input id="TenNganHang" placeholder="Tên ngân hàng" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
        <div class="form-group valid" toggle-valid="SoTaiKhoan">
            <label style="width:100%">Số tài khoản: <span style="color:red">*</span></label>
            <input id="SoTaiKhoan" placeholder="Số tài khoản" type="text" class="k-textbox input" />
            <span class="fa fa-exclamation-triangle icon" title="Không được bỏ trống"></span>
        </div>
    </form>
</div>
<script src="~/Scripts/js/quy.js"></script>