@{
    ViewBag.Title = "Điểm danh học sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/js/diemdanh.js"></script>
<script>
    $(document).ready(function () {
        var idlop = 0;
        var ca = 0;
        @if (Model != null) {
            <text>
            idlop = @Model.ID_Lop;
            ca = @Model.Ca;
            </text>
        }
            console.log(idlop);
        console.log(ca);
        if (idlop > 0) {
                kendo.ui.progress($("body"), true);

            setTimeout(function () {
                kendo.ui.progress($("body"), false);
                $("#comboLop").data("kendoComboBox").value(idlop);
                $("#comboCa").data("kendoComboBox").value(ca);
                LoadHocSinhTrongLop(idlop);
            }, 2000);
        }

    })
</script>
<link href="~/Content/danhsachloptheogiaovien.css" rel="stylesheet" />
<style type="text/css">
    .photo {
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .k-upload {
        border: none;
    }

    .k-upload-button {
        margin: 0 !important;
        width: 100%;
    }
</style>
<style>
    .k-checkbox-label:before {
        width: 25px;
        height: 25px;
        font-size: 23px;
        line-height: 25px;
        top: -5px;
    }

    #gridDiemDanh tr {
        height: 40px;
    }

    .image-preview {
    }

    .sodo {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100vh - 40px);
        background-size: contain;
    }
</style>
<div id="rootContainer" style="display:none">
    <div id="dialogRoot"></div>
    <div class="row">
        <h2><b>Điểm danh lớp</b></h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div style="width:50%;float:left;">
                <label style="width:100%">Khối</label>
                <div style="width:100%" id="comboKhoi"></div>
            </div>
            <div style="width:50%;float:left;padding-left:20px;">
                <label style="width:100%">Lớp</label>
                <div style="width:100%" id="comboLop"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="width:50%;float:left;">
                <label style="width:100%">Ca học</label>
                <div style="width:100%" id="comboCa"></div>
            </div>
            <div style="width:50%;float:left;padding-left: 20px;">
                <label style="width:100%"> </label>
                <button class="k-button bg-blue" onclick="LoadLaiDuLieu()" style="margin-top:5px;"> <i class="fa fa-refresh"> Làm mới dữ liệu </i></button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-sm-6">
            <div style="width:50%;float:left;">
                <input style="width:100%" type="file" id="file" />
            </div>
            <div style="width:50%;float:left;padding:0 10px;" id="listAnhDiemDanh">

            </div>
        </div>
    </div>
    <div style="margin-top:20px;" id="gridDiemDanh"></div>
</div>
<div id="windowSoDo">
    <div id="anhsodo" class="sodo"></div>
</div>
<script id="templateTooltip" type="text/x-kendo-template">
    <img style="max-width:400px" src="#=target.data('title')#" />
</script>
