
@{
    ViewBag.Title = "Quản lý lịch tin nhắn từ phụ huynh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/js/tinnhanphuhuynh.js"></script>
<style>
    .panel > .list-group .list-group-item:first-child {
        /*border-top: 1px solid rgb(204, 204, 204);*/
    }

    .visible-xs {
        display: inline-block !important;
    }

    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }

    #back-to-bootsnipp {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .c-search > .form-control {
        border-radius: 0px;
        border-width: 0px;
        border-bottom-width: 1px;
        font-size: 1.3em;
        padding: 12px 12px;
        height: 44px;
        outline: none !important;
    }

        .c-search > .form-control:focus {
            outline: 0px !important;
            -webkit-appearance: none;
            box-shadow: none;
        }

    .c-search > .input-group-btn .btn {
        border-radius: 0px;
        border-width: 0px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        height: 44px;
    }


    .c-list {
        padding: 0px;
        min-height: 44px;
    }

    .chatbody {
        margin-top: 45px;
    }

    .panel-default > .panel-heading {
        color: #fff;
        background-color: #355593;
        border-color: #355593;
    }

    .title {
        display: inline-block;
        font-size: 1.1em;
        font-weight: bold;
        padding: 5px 15px;
    }

    ul.c-controls {
        list-style: none;
        margin: 0px;
        min-height: 44px;
    }

        ul.c-controls li {
            margin-top: 8px;
            float: left;
        }

            ul.c-controls li a {
                font-size: 1.7em;
                padding: 11px 10px 6px;
            }

                ul.c-controls li a i {
                    min-width: 24px;
                    text-align: center;
                }

                ul.c-controls li a:hover {
                    background-color: rgba(51, 51, 51, 0.2);
                }

    .c-toggle {
        font-size: 1.1em;
    }

    .name {
        font-size: 1.1em;
        font-weight: 700;
    }

    .c-info {
        padding: 3px 7px;
        font-size: 1.1em;
    }

    .chatperson {
        display: block;
        border-bottom: 1px solid #eee;
        width: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 15px;
        padding: 4px;
    }

        .chatperson:hover {
            text-decoration: none;
            border-bottom: 1px solid orange;
        }

    .namechat {
        display: inline-block;
        vertical-align: middle;
    }

    .chatperson .chatimg img {
        width: 40px;
        height: 40px;
        background-image: url('http://i.imgur.com/JqEuJ6t.png');
    }

    .chatperson .pname {
        font-size: 18px;
        padding-left: 5px;
    }

    .chatperson .lastmsg {
        font-size: 12px;
        padding-left: 5px;
        color: #ccc;
    }

    .col-md-2, .col-md-10 {
        padding: 0;
    }

    .panel {
        margin-bottom: 0px;
    }

    .chat-window {
        bottom: 0;
        position: fixed;
        float: right;
        margin-left: 10px;
    }

        .chat-window > div > .panel {
            border-radius: 5px 5px 0 0;
        }

    .icon_minim {
        padding: 2px 10px;
    }

    .msg_container_base {
        background: #e5e5e5;
        margin: 0;
        padding: 0 10px 10px;
        height: calc(100vh - 320px);
        max-height: calc(100vh - 320px);
        overflow-x: hidden;
    }

    .top-bar {
        background: #666;
        color: white;
        padding: 10px;
        position: relative;
        overflow: hidden;
    }

    .msg_receive {
        padding-left: 0;
        margin-left: 0;
    }

    .msg_sent {
        padding-bottom: 20px !important;
        margin-right: 0;
    }

    .messages {
        background: white;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        max-width: 100%;
    }

        .messages > p {
            font-size: 13px;
            margin: 0 0 0.2rem 0;
        }

        .messages > time {
            font-size: 11px;
            color: #ccc;
        }

    .msg_container {
        padding: 10px;
        overflow: hidden;
        display: flex;
    }

    img {
        width: 100%;
    }

    .avatar {
        position: relative;
    }

    .base_receive > .avatar:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 5px solid #FFF;
        border-left-color: rgba(0, 0, 0, 0);
        border-bottom-color: rgba(0, 0, 0, 0);
    }

    .base_sent {
        justify-content: flex-end;
        align-items: flex-end;
    }

        .base_sent > .avatar:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border: 5px solid white;
            border-right-color: transparent;
            border-top-color: transparent;
            box-shadow: 1px 1px 2px rgba(black, 0.2);
            // not quite perfect but close
        }

    .msg_sent > time {
        float: right;
    }



    .msg_container_base::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .msg_container_base::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    .msg_container_base::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }

    .btn-group.dropup {
        position: fixed;
        left: 0px;
        bottom: 0;
    }

    .btn-primary {
        color: #fff;
        background-color: #355593;
        border-color: #45906a;
    }
    .img-responsive{
        margin:auto;
    }
</style>
<div id="dialogRoot"></div>
<div class="row">
    <h2><b>Tin nhắn liên lạc</b></h2>
</div>
<div class="row">
    <div class="col-sm-4">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tinnhanmoi"><b>Tin nhắn mới</b></a></li>
            <li><a data-toggle="tab" href="#tatca"><b>Tất cả</b></a></li>
        </ul>
        <div class="tab-content">
            <div id="tinnhanmoi" class="tab-pane fade in active">
                <div id="gridTinNhanMoi"></div>
            </div>
            <div id="tatca" class="tab-pane fade">
                <div id="gridUser"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="chatbody">
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> <b id="cur_user"></b></h3>
                    </div>
                </div>
                <div class="panel-body msg_container_base" id="chat-content">
                    @*<div class="row msg_container base_sent">
                        <div class="col-md-10 col-xs-10">
                            <div class="messages msg_sent">
                                <p>
                                    that mongodb thing looks good, huh?
                                    tiny master db, and huge document store
                                </p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="~/Images/user_image.png" class="img-responsive" />
                        </div>
                    </div>
                    <div class="row msg_container base_receive">
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="~/Images/user_image.png"  class="img-responsive"/>
                        </div>
                        <div class="col-md-10 col-xs-10">
                            <div class="messages msg_receive">
                                <p>
                                    that mongodb thing looks good, huh?
                                    tiny master db, and huge document store
                                </p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Nhập tin nhắn..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat" onclick="SendMessage()"><i class="fa fa-send fa-1x" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
