
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Assets/Common.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>DanhMucLoi</title>
</head>
<body>
    <div class="toolBarMenu">
        <button class="k-button bg-blue" onclick="Luu()"> <i class="fa fa-plus-square"> Lưu </i></button>
        <button class="k-button bg-red" onclick="Huy()"> <i class="fa fa-close"> Hủy</i> </button>
    </div>
</body>
</html>
